backend/schemas/simple_data_module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dmc" type="xs:string"/>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="dmType" type="xs:string"/>
              <xs:element name="infoVariant" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="content" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
